option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "forty_two_k.settings"
    "PYTHONPATH": "/opt/python/current/app/forty_two_k:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: forty_two_k/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && python forty_two_k/manage.py migrate --noinput"
    leader_only: true 
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python forty_two_k/manage.py createsu"
    leader_only: true 
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python forty_two_k/manage.py collectstatic --noinput"
