{% extends "_layouts/base.html" %}
{% load staticfiles %}

{% block page_title %}Tagger{% endblock %}


{% block content %}
    <div class='container'>
        <div class="row">
            <h1>Dashboard</h1>
            <h2>Tagging status</h2>

        </div>
        <!-- RESULTS-->
        <div class="row">
            <div class="col-xs-12">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-time"> </span> Date</th>
                        <th><span class="glyphicon glyphicon-road"> </span> Name</th>
                        <th><span class="glyphicon glyphicon-tags"> </span> Status % (Tagged / Total photos)</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for race in races %}
                        <tr>
                            <td>{{ race.date|date:"d F Y" }}</td>
                            <td>{{ race.name }}</td>
                            <td>
                                <div class=" form-group progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-success"
                                         role="progressbar"
                                         aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                        <span>?% (?/{{ race.photos.count }})</span>
                                    </div>
                                </div>
                            </td>
                            <td><a href="{% url 'tag' %}" class="btn btn-primary"><span
                                    class="glyphicon glyphicon-chevron-right"></span> Tag</a></td>
                        </tr>
                    {% endfor %}


                    <tr>
                        <td>25 February 2015</td>
                        <td>[static] Marathon of Hong Kong</td>
                        <td>
                            <div class=" form-group progress">
                                <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar"
                                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                    <span>100% (894/894)</span>
                                </div>
                            </div>
                        </td>
                        <td><a href="{% url 'tag' %}" class="btn btn-primary"><span
                                class="glyphicon glyphicon-chevron-right"></span> Tag</a></td>
                    </tr>
                    <tr>
                        <td>03 March 2015</td>

                        <td>[static] Nike night run</td>
                        <td>
                            <div class=" form-group progress">
                                <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar"
                                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
                                    40% (78/234)
                                </div>
                                <div class="progress-bar progress-bar-striped progress-bar-danger" role="progressbar"
                                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:60%">
                                </div>
                            </div>
                        </td>
                        <td><a href="{% url 'tag' %}" class="btn btn-primary"><span
                                class="glyphicon glyphicon-chevron-right"></span> Tag</a></td>

                    </tr>
                    <tr>
                        <td>01 July 2015</td>

                        <td>[static] New balance 10K</td>
                        <td>
                            <div class=" form-group progress">
                                <div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar"
                                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%">

                                </div>
                                <div class="progress-bar progress-bar-striped progress-bar-danger" role="progressbar"
                                     aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                    0% (0/1234)
                                </div>
                            </div>
                        </td>
                        <td><a href="{% url 'tag' %}" class="btn btn-primary"><span
                                class="glyphicon glyphicon-chevron-right"></span> Tag</a></td>

                    </tr>
                    </tbody>
                </table>
            </div>

        </div>


    </div>


{% endblock %}