{% extends "_layouts/base.html" %}
{% load staticfiles %}

{% load render_table from django_tables2 %}

{% block css %}
    <link rel="stylesheet"  href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
{% endblock css %}

{% block page_title %}Find event{% endblock %}


{% block content %}
    <div class="container">

        <div class="row">
        <h1>Find running event</h1>

        {% load crispy_forms_tags %}
        <!-- RESULTS-->

        <div class="row">
            <div class="col-xs-12">
                {% crispy filter.form filter.form.helper %}
                {% render_table table %}
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th><span class="glyphicon glyphicon-time"></span> Date</th>
                        <th><span class="glyphicon glyphicon-map-marker"></span> Location</th>
                        <th>Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr class="info">
                            <td><select class="form-control" id="">
                                <option>April 2015</option>
                                <option>May 2015</option>
                                <option>June 2015</option>
                                <option>July 2015</option>
                              </select>
                            </td>
                            <td><input type="text" class="form-control" id="" placeholder="Country, City"></td>
                            <td><input type="text" class="form-control" id="" placeholder="Search name"></td>
                            <th></th>
                        </tr>
                    {% for race in races %}
                        <tr>
                            <td>{{race.date|date:"d F Y"}}</td>
                            <td>{{ race.city }}, {{ race.country.name }}</td>
                            <td>{{ race.name }}</td>
                            <th><a href="{% url 'event-follow' race.id %}" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span> Follow</a></th>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-2">
                Not in the list? <a href="#myModal" class="btn btn-primary" data-toggle="modal"><span class="glyphicon glyphicon-plus"></span> Create new race</a>
            </div>
        <br>
        </div>
        <!-- Modal HTML -->
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Add race</h4>
                    </div>
                    <div class="modal-body">
                        {% load crispy_forms_tags %}
                        {% crispy new_race_form new_race_form.helper %}
                    </div>
                </div>
            </div>
        </div>

</div>
</div>
{% endblock content %}