{% extends "_layouts/base.html" %}
{% load staticfiles %}


{% block content %}

    <div class="container">
        <h1>Feedback</h1>
        <div class="row">
            <div class="col-xs-12 col-md-8">
            <h3>Got an idea, suggestion or general feedback? Share it here!</h3>

                <form name="sentMessage" class="well" id="contactForm">


                        <div class="control-group">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" class="form-control"
                                       placeholder="Full Name" id="name" required
                                       {% if user.is_authenticated and user.first_name and user.last_name %}value="{{ user.first_name }} {{ user.last_name }}" readonly{% endif %} />
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                <input type="email" class="form-control" placeholder="Email"
                                       id="email" required
                                       {% if user.is_authenticated and user.email %}value="{{ user.email }}" readonly{% endif %} />
                            </div>
                        </div>


                    <div class="control-group">
                        <div class="controls">
                         <textarea rows="10" cols="100" class="form-control" placeholder="Message" id="message" required style="resize:none"></textarea>
                        </div>
                    </div>

                    <div id="success"> </div> <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary pull-right">Send</button><br/>
                </form>
                </div>
                <div class="col-xs-12 col-md-4">
                    <h3>Thank you</h3>
                    <p>Thanks for taking the time to share your thoughts. Your feedback helps make 42K a better place!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}