{% extends "_layouts/base.html" %}
{% load staticfiles %}

{% block page_title %}42K.photos - Marathon photos made easy!{% endblock %}
{% block page_class %}home-page{% endblock %}
{% block content %}
<div class="container">
   <!-- Example row of columns -->
  <h1>Your orders</h1>
  <div class="row">
      <div class="col-xs-12">
        <table class="table table-hover">
          <thead>
            <tr>
                <th><span class="glyphicon glyphicon-time"></span> Date</th>
                <th><span class="glyphicon glyphicon-picture"></span> Photos</th>
                <th><span class="glyphicon glyphicon-usd"></span> Total</th>
            </tr>
          </thead>
          <tbody>

          {% for order in orders %}
              {% if order.payment.status == 'confirmed' %}

            <tr>
                <td>{{ order.payment.modified }}</td>
                <td>
                    {% for photo in order.photos.all %}
                        <img src="{{ photo.file.url }}" width="150px"> {{ photo.race }} / {{ photo }} <br><a href="#"> <span class="glyphicon glyphicon-download"></span> Download</a><br>
                    {% endfor %}
                <td>{{ order.payment.total }} {{ order.payment.currency }}</td>
            </tr>
              {% endif %}
          {% endfor %}


</tbody>
</table>
</div>

</div>
</div>
{% endblock %}