{% extends 'jfu/upload_form.html' %}

{% block JS_UPLOAD_TEMPLATE_UPLOAD %}
<td>
    <p class="name">
    Race:
        <select class="raceevent" name="raceevent">
            {% for race in races %}
                <option value="{{ race.id }}">{{ race.name }}</option>
            {% endfor %}
        </select>
    </p>
</td>
{% endblock %}

{% block JS_OPTS %}
sequentialUploads: true,
acceptFileTypes: /(\.|\/)(png|gif|jpe?g)$/i,
submit: function(e, data) {
console.log(data);
data.formData = [
{ name: "csrfmiddlewaretoken", value: "{{ csrf_token }}" },
{ name: "raceevent", value: data.context.find('.raceevent').val() }
];
}
{% endblock %}
