  {% extends "_layouts/base.html" %}


  <!DOCTYPE html>
  <html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>

  <body>


    {% block content %}

    <div class="container">
      <h1>Your races events <span class="badge">3</span></h1>
      <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                Marathon of Hong-Kong 
                <small>
                  <span class="glyphicon glyphicon-map-marker"></span> Hong Kong, Causeway Bay
                  <span class="glyphicon glyphicon-time"></span> 24 February 2015
                </small>

              </a>
            </h4>
          </div>
          <div id="collapse1" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="col-xs-3">Me</th>
                        <th  class="col-xs-1">BIB #</th>
                        <th  class="col-xs-2">Time</th>
                        <th  class="col-xs-4">Status</th>
                        <th  class="col-xs-2"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>[IMG] Leo-Paul GRANT</td>
                        <td>53050</td>
                        <td>3h 35min 59s</td>
                        <td>5 photos found <span class="badge">2 new</span></td>
                        <td><a href="order.html" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span></a></td>
                      </tr>                
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="col-xs-3">My friends</th>
                        <th  class="col-xs-1"></th>
                        <th  class="col-xs-2"></th>
                        <th  class="col-xs-4"></th>
                        <th  class="col-xs-2"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>[IMG] Ben Johnson</td>
                        <td>4567</td>
                        <td>5h 04min 01s</td>
                        <td>10 photos found  <span class="badge">2 new</span></td>
                        <td><a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span></a></td>
                      </tr>
                      <tr>
                        <td>[IMG] Anna Kurnikova</td>
                        <td>???</td>
                        <td>???</td>
                        <td>Invitation send. Waiting friend confirmation <br>Resend?</td>
                        <td><a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span></a></td>
                      </tr>
                      <tr>
                        <td><a href="#" class="btn btn-primary"> <span class="glyphicon glyphicon-plus"></span> Add friends</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                Nike Night run 
                <small>
                  <span class="glyphicon glyphicon-map-marker"></span> Hong Kong, Causeway Bay
                  <span class="glyphicon glyphicon-time"></span> 24 February 2015
                </small>

              </a>
            </h4>
          </div>
          <div id="collapse2" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="col-xs-3">Me</th>
                        <th  class="col-xs-1">BIB #</th>
                        <th  class="col-xs-2">Time</th>
                        <th  class="col-xs-4">Status</th>
                        <th  class="col-xs-2"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>[IMG] Leo-Paul GRANT</td>
                        <td>53050</td>
                        <td>3h 35min 59s</td>
                        <td>5 photos found  <span class="badge">1 new</span></td>
                        <td><a href="order.html" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span></a></td>
                      </tr>    
                      <tr>
                        <td><a href="#" class="btn btn-primary"> <span class="glyphicon glyphicon-plus"></span> Add friends</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>            
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Race 3</a>
            </h4>
          </div>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th class="col-xs-3">Me</th>
                        <th  class="col-xs-1">BIB #</th>
                        <th  class="col-xs-2">Time</th>
                        <th  class="col-xs-4">Status</th>
                        <th  class="col-xs-2"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>[IMG] Leo-Paul GRANT</td>
                        <td><a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"> Input my BIB#</span></a></td>
                        <td><a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"> Input my time</span></a></td>
                        <td></td>
                        <td><a href="#" class="btn btn-primary"><span class="glyphicon glyphicon-chevron-right"></span></a></td>
                      </tr>  
                      <tr>
                        <td><a href="#" class="btn btn-primary"> <span class="glyphicon glyphicon-plus"></span> Add friends</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr>               
                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div> 
    </div>
            <h3><a href="search.html" class="btn btn-primary"> <span class="glyphicon glyphicon-plus"></span> ADD Race event</a>
        </h3>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    {% endblock %}