{% extends "_layouts/base.html" %}
{% load staticfiles %}


{% block content %}

    <div class="container">
        <h1>Support</h1>
        <div class="row">
            <div class="col-xs-12 col-md-8">
                <h2>Questions</h2>
                <h3>Loggin</h3>
                <p>
                    <b>Can I log-in using other methods?</b><br>
                    Currently, you can only use a Facebook account to log-in.<br>
                    <b>Can I view photos without being logged-in?</b><br>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim urna vel ipsum lobortis sollicitudin. Nunc viverra eu elit porttitor efficitur. Nam at arcu quis leo imperdiet laoreet ut nec nulla. Mauris ultricies diam dui, et porta sem molestie ac. Etiam sed porta mauris. Aenean a nulla euismod, condimentum lectus vel, congue nisl. Duis eu viverra lorem. In ultrices eget eros a scelerisque. Vestibulum in est ac nulla euismod maximus.
                </p>
            </div>
            <div class="col-xs-12 col-md-4">
                <h2>Submit a request</h2>
                <form name="sentMessage" class="well" id="contactForm">
                    <div class="control-group">
                        <div class="controls">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="text" class="form-control"
                                       placeholder="Full Name" id="name" required
                                       {% if user.is_authenticated %}value="{{ user.first_name }} {{ user.last_name }}" readonly{% endif %} />
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                                <input type="email" class="form-control" placeholder="Email"
                                       id="email" required
                                       {% if user.is_authenticated %}value="{{ user.email }}" readonly{% endif %} />
                            </div>
                        </div>
                    </div>

                    <div class="control-group">
                        <div class="controls">
                         <textarea rows="10" cols="100" class="form-control"
                                   placeholder="Message" id="message" required
                                   style="resize:none"></textarea>
                        </div>
                    </div>

                    <div id="success"> </div> <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary pull-right">Send</button><br/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}