{% extends "_layouts/base.html" %}
{% load staticfiles %}


{% block content %}

    <div class="container">
        <h1>Support</h1>

        <h2>Questions</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim urna vel ipsum lobortis sollicitudin. Nunc viverra eu elit porttitor efficitur. Nam at arcu quis leo imperdiet laoreet ut nec nulla. Mauris ultricies diam dui, et porta sem molestie ac. Etiam sed porta mauris. Aenean a nulla euismod, condimentum lectus vel, congue nisl. Duis eu viverra lorem. In ultrices eget eros a scelerisque. Vestibulum in est ac nulla euismod maximus.
        </p>

        <h2>Contact us</h2>

    <form>
        <input type="text">
    </form>


    </div>
{% endblock %}