<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>42K.photos - Marathon photos made easy!</title>

    <!-- Bootstrap -->
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles -->
    <link href="css/sticky-footer-navbar.css" rel="stylesheet">

  </head>
    <body>

    <!-- HEADER -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class='container'>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          <a class="navbar-brand" href="index.html"><b>42</b>K <small>Marathon photos</small></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="search.html"><span class="glyphicon glyphicon-picture"></span> Runners</a></li>
            <li><a href="upload.html"><span class="glyphicon glyphicon-camera"></span> Photographers</a></li>
            <li><a href="#"><span class="glyphicon glyphicon-user"></span> Username</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">More <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="order.html"><span class="glyphicon glyphicon-shopping-cart"></span> Order</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Users</li>
                <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a> </li>
                <li><a href="login.html"><span class="glyphicon glyphicon-user"></span> Log-in / Log-out</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Admin</li>
                <li><a href="tag.html"><span class="glyphicon glyphicon-tags"></span> Tag</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class='container'>

      <h2>Tag photo</h2>
<div class='row'>

        <div class='col-sm-12 col-xs-12' style ='background-color: #000000;'>

          <center><img src="img/Sample 4.jpg" height="400" /></center>
        </div>
</div>


      <div class='row'>
        <div class='col-xs-2'>
          <a href="#" class="btn btn-info btn-block"><span class="glyphicon glyphicon-chevron-left"></span> Previous</a>
        </div>
        <div class='col-xs-8'>
          Input bib number(s), then press enter
        </div>
        <div class='col-xs-2'>
          <a href="#" class="btn btn-info btn-block">Next <span class="glyphicon glyphicon-chevron-right"></span></a>
        </div>        
      </div>

      <div class='row'>
        <div class='col-xs-2'>
        
        </div>
        <div class='form-group col-xs-10 col-sm-3'>
            <input type="text" class="form-control" id="inputEmail" placeholder="e.g. M001">
        </div>
        <div class='form-group col-xs-10 col-sm-3'>
            <input type="text" class="form-control" id="inputEmail" placeholder="+">
        </div>
        <div class='form-group col-xs-10 col-sm-3'>
            <input type="text" class="form-control" id="inputEmail" placeholder="+">
        </div>
        </div>
        <div class='row'>
          <div class='form-group col-xs-10 col-xs-offset-2'>
              <button class='btn'>Submit</button> (or <button class='btn'>No visible number</button>)
                  <br>        
           

              <div class="checkbox">
      <label><input type="checkbox" value="">Bad quality photo</label>
    </div>
    <div class="checkbox">
      <label><input type="checkbox" value="">Report photo</label>
    </div>
          </div>
        <div class='col-xs-1'>
          
        </div>        
      </div>



    </div>

    <!-- FOOTER -->
    <div class="footer"> 
      <div class="container">
        <p class="text-muted">About | Contact | FAQ | Blog | Terms and conditions | 42K Photos (c) 2015</p>
      </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>