{% extends "_layouts/base.html" %}
{% load staticfiles %}


{% block content %}

    <div class='container'>

        <h1>Tag photo</h1>

        <div class='row'>
            <div class='col-sm-12 col-xs-12' style='background-color: #000000;'>
                <center><img src="img/Sample 4.jpg" height="400"/></center>
            </div>
        </div>


        <div class='row'>
            <div class='col-xs-2'>
                <a href="#" class="btn btn-info btn-block"><span class="glyphicon glyphicon-chevron-left"></span>
                    Previous</a>
            </div>
            <div class='col-xs-8'>
                Input bib number(s), then press enter
            </div>
            <div class='col-xs-2'>
                <a href="#" class="btn btn-info btn-block">Next <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>

        <div class='row'>
            <div class='col-xs-2'>

            </div>
            <div class='form-group col-xs-10 col-sm-3'>
                <input type="text" class="form-control" id="inputEmail" placeholder="e.g. M001">
            </div>
            <div class='form-group col-xs-10 col-sm-3'>
                <input type="text" class="form-control" id="inputEmail" placeholder="+">
            </div>
            <div class='form-group col-xs-10 col-sm-3'>
                <input type="text" class="form-control" id="inputEmail" placeholder="+">
            </div>
        </div>

        <div class='row'>
            <div class='form-group col-xs-10 col-xs-offset-2'>
                <button class='btn'>Submit</button>
                (or
                <button class='btn'>No visible number</button>
                )
                <br>

                <div class="checkbox">
                    <label><input type="checkbox" value="">Bad quality photo</label>
                </div>
                <div class="checkbox">
                    <label><input type="checkbox" value="">Report photo</label>
                </div>
            </div>
            <div class='col-xs-1'>

            </div>
        </div>
    </div>

{% endblock %}