{% extends "_layouts/base.html" %}
{% load staticfiles %}


{% block content %}

    <div class="container">
        <h1>Terms and conditions</h1>

        <h2>Privacy policy</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim urna vel ipsum lobortis sollicitudin. Nunc viverra eu elit porttitor efficitur. Nam at arcu quis leo imperdiet laoreet ut nec nulla. Mauris ultricies diam dui, et porta sem molestie ac. Etiam sed porta mauris. Aenean a nulla euismod, condimentum lectus vel, congue nisl. Duis eu viverra lorem. In ultrices eget eros a scelerisque. Vestibulum in est ac nulla euismod maximus.
        </p>
        <p>
            Duis risus libero, mollis quis viverra sit amet, viverra sed lectus. Ut eu quam ipsum. Donec rutrum dictum felis, at eleifend elit dictum at. Sed congue finibus tortor, eu elementum turpis consequat vestibulum. Ut varius sed nisi mollis malesuada. Nam et libero a turpis tincidunt eleifend. Pellentesque non varius nisl, in ornare massa. Praesent placerat euismod finibus. Nullam pellentesque ligula eu porttitor tincidunt.
        </p>
        <p>
            Pellentesque elementum scelerisque vestibulum. Nulla consequat eleifend sem. Vestibulum a magna suscipit, tempor ex eget, fringilla risus. Morbi venenatis gravida mauris, et elementum purus pulvinar vestibulum. Sed dapibus diam ac enim commodo luctus. Phasellus porttitor condimentum ligula, eget porta erat porttitor ac. Aenean volutpat enim sit amet orci ullamcorper, quis accumsan metus maximus. Praesent at lacus iaculis, pulvinar nisi sed, mollis augue. Integer a dui elit. Praesent ullamcorper libero nec leo sagittis, eu gravida leo varius.
        </p>
        <p>
            Vivamus eu venenatis odio. Sed at augue risus. Curabitur mauris augue, imperdiet eu risus vitae, tincidunt suscipit libero. Sed consectetur pulvinar nunc, non hendrerit tortor malesuada eget. Praesent tincidunt rhoncus laoreet. Nulla interdum, justo vel varius tristique, libero justo facilisis nisl, eget feugiat arcu turpis a felis. Sed pulvinar varius diam, vel aliquam magna. Etiam auctor felis sem, semper hendrerit mauris condimentum in. Vestibulum dignissim, nibh hendrerit vehicula faucibus, magna est varius ligula, id mollis ipsum metus id ipsum.
        </p>

        <h2>Legal information</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim urna vel ipsum lobortis sollicitudin. Nunc viverra eu elit porttitor efficitur. Nam at arcu quis leo imperdiet laoreet ut nec nulla. Mauris ultricies diam dui, et porta sem molestie ac. Etiam sed porta mauris. Aenean a nulla euismod, condimentum lectus vel, congue nisl. Duis eu viverra lorem. In ultrices eget eros a scelerisque. Vestibulum in est ac nulla euismod maximus.
        </p>
        <p>
            Duis risus libero, mollis quis viverra sit amet, viverra sed lectus. Ut eu quam ipsum. Donec rutrum dictum felis, at eleifend elit dictum at. Sed congue finibus tortor, eu elementum turpis consequat vestibulum. Ut varius sed nisi mollis malesuada. Nam et libero a turpis tincidunt eleifend. Pellentesque non varius nisl, in ornare massa. Praesent placerat euismod finibus. Nullam pellentesque ligula eu porttitor tincidunt.
        </p>

        <h2>Data policy</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras dignissim urna vel ipsum lobortis sollicitudin. Nunc viverra eu elit porttitor efficitur. Nam at arcu quis leo imperdiet laoreet ut nec nulla. Mauris ultricies diam dui, et porta sem molestie ac. Etiam sed porta mauris. Aenean a nulla euismod, condimentum lectus vel, congue nisl. Duis eu viverra lorem. In ultrices eget eros a scelerisque. Vestibulum in est ac nulla euismod maximus.
        </p>


    </div>
{% endblock %}