{% load staticfiles %}
<!doctype html>

<!--[if lt IE 7]>      
<html class="no-js lt-ie9 lt-ie8 lt-ie7">
   <![endif]-->
<!--[if IE 7]>
   <html class="no-js lt-ie9 lt-ie8">
      <![endif]-->
<!--[if IE 8]>
      <html class="no-js lt-ie9">
         <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en" xmlns="http://www.w3.org/1999/html">
<!--<![endif]-->

{# === === HEAD === === #}
<head>
    <meta charset="utf-8">
    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/i/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>42K: {% block page_title %}The runners photos community{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% endblock %}">
    <meta name="author" content="{% block meta_author %}Trophee Limited{% endblock %}">
    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="width=device-width">
    {% block meta %}{% endblock meta %}
    {% block robots %}{% endblock robots %}


    {# === CSS === #}
    {# use the CDN to get bootstrap css. can not be inside compress css block #}
    {% block cdn_css %}
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">
    {% endblock cdn_css %}
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Syncopate:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    {% block css %}{% endblock css %}
    <!-- More ideas for your <head> here: h5bp.com/d/head-Tips -->

    <!-- All JavaScript at the bottom, except this Modernizr build.
       Modernizr enables HTML5 elements & feature detects for optimal performance.
       Create your own custom Modernizr build: www.modernizr.com/download/ -->
    <script src="{% static 'js/libs/modernizr-2.8.3.js' %}"></script>

    {# === Favicons (cf. http://www.favicomatic.com/) === #}
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/apple-touch-icon-144x144.png' %}" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{% static 'img/apple-touch-icon-152x152.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'img/favicon-16x16.png' %}" sizes="16x16" />
    <link rel="icon" href="{% static 'img/favicon.ico' %}"/>
    <meta name="application-name" content="42K"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static 'img/mstile-144x144.png' %}" />

    {# === Google verification === #}
    <meta name="google-site-verification" content="Y5YWjn_DaGEhL4RrRN6dxmlhFekvjlzF2hnGSwoDTbQ" />
</head>


{# === === BODY === === #}
<body class="{% block body_class %}{% endblock %}" {% block body_attributes %}{% endblock %}>
{% block body %}
    <!-- Prompt IE 6 users to install Chrome Frame. Remove this if you support IE 6.
       chromium.org/developers/how-tos/chrome-frame-getting-started -->
    <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
            <![endif]-->
    <header>
        {% block header %}{% endblock %}
    </header>

    <!-- NavBar ================================================== -->
    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="{% block url-home %}{% url 'home' %}{%  endblock %}" alt="42K" style="padding-top:07px">
                    <img src="{% static 'img/42K-Logo-3x2-60.png' %}" alt="42K" >
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">


                    {% block user-drop-down %}
                    <li class="dropdown"> <!-- USER DROP DOWN -->
                        {% if user.is_authenticated %}
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                <img style="height:18px" src="{{ user.app.profile_image_url }}"/> {{ user.first_name }} {{ user.last_name }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{%  url 'home' %}"><span class="glyphicon glyphicon-home"></span> Home</a></li>
                                <li><a href="{% url 'orders' %}"><span class="glyphicon glyphicon-picture"></span> My photos</a></li>
                                <li><a href="#"><span class="glyphicon glyphicon-cog"></span> Settings</a> </li>
                                <li><a href="{% url 'account_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>

                                {% if user.app.role == 'admin' %}
                                <li class="divider"></li>
                                <li class="dropdown-header">For testers:</li>
                                <li><a href="{% url 'event-photos-add' %}"><span class="glyphicon glyphicon-camera"></span> Upload photos</a></li>
                                <li><a href="{% url 'order' %}"><span class="glyphicon glyphicon-shopping-cart"></span> Order page (direct)</a></li>

                                <li class="divider"></li>
                                <li class="dropdown-header">Dashboard</li>
                                <li><a href="{% url 'dashboard' %}"><span class="glyphicon glyphicon-dashboard"></span> Dashboard</a></li>
                                <li><a href="{% url 'dash-tag' %}"><span class="glyphicon glyphicon-tags"></span> DB: Tags</a></li>
                                {% endif %}
                            </ul>
                        {% elif request %}
                            {% load socialaccount %}
                            {% providers_media_js %}
                            <a class="btn btn-primary btn-xs" href="{% provider_login_url "facebook" %}">Facebook log-in</a>
                        {% endif %}
                    </li>
                    {% endblock user-drop-down %}

                </ul>
            </div>
            <!--/.navbar-collapse -->
        </div>
    </div>

    {# Page ================================================== #}
    <div role="main">
        {% block content %}

        {% endblock %}
    </div>

    {# Footer ================================================== #}
    <footer class="footer" role="contentinfo">
        {% block footer %}
            <div class="container">
            <div class="row">
                <div class="col-xs-6 col-sm-3">
                    <h3>About <b class="brand brand-42K">42K</b></h3>
                    <p><b class="brand"><b class="brand-42K">42K</b><b class="brand-photos">Photos</b></b> is a sharing photos community for runners and supporters.</p>
                    <p>Everybody can contribute by uploading photos, tagging, inviting friends and sharing.</p>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <h3>Links</h3>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'feedback' %}">Feedback</a></li>
                        <li><a href="{% url 'support' %}">Help & Support</a></li>
                        <li><a href="{% url 'legal' %}">Legal</a></li>
                        <li><a href="http://42kphotos.wordpress.com">Blog</a></li>
                        <li><a href="{% url 'media' %}">Media</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <h3>Social</h3>
                    <ul class="list-unstyled">
                        <li>E-mail: contact@42K.photos</li>
                        <li><a href="http://www.facebook.com/42Kphotos">Facebook</a></li>
                        <li><a href="http://www.google.com/+42Kphotos">Google+</a></li>
                        <li><a href="http://www.instagram.com/42Kphotos">Instagram</a></li>
                        <li><a href="http://www.twitter.com/42Kphotos">Twitter</a></li>
                        <li><a href="http://www.pinterest.com/42Kphotos">Pinterest</a></li>
                    </ul>
                </div>
                <div class="col-xs-6 col-sm-3">
                    <h3>Newsletter</h3>

                        <div id="mc_embed_signup">
                        <form action="//42-K.us8.list-manage.com/subscribe/post?u=068f094aa3d00a9cb25d03b4b&amp;id=2c55eabae6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <div class="form-group">
                                    <input type="email" value="" name="EMAIL" class="form-control email" id="mce-EMAIL" placeholder="email address" required>
                                    <div style="position: absolute; left: -5000px;"><input type="text" name="b_068f094aa3d00a9cb25d03b4b_2c55eabae6" tabindex="-1" value=""></div>
                                    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary"></div>
                                </div>
                            </div>
                        </form>
                        </div>

                </div>
            </div>
            </div>
            <div class="footer-foot">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <b class="brand"><b class="brand-42K">42K</b><b class="brand-photos">Photos</b></b> &copy; {% now "Y" %}. All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        {% endblock footer %}
    </footer>

    <!-- JavaScript ================================================== -->
    <!-- JavaScript at the bottom for fast page loading -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    {% block cdn_js %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/libs/jquery-2.1.3.min.js"><\/script>')</script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
    {% endblock cdn_js %}

    <!-- scripts concatenated and minified via django-compressor -->
    {% block js %}
        {# <script src="{% static 'js/main.js' %}"></script> #}
    {% endblock js %}
    <!-- end scripts -->

    <!-- Analytics ================================================== -->
    <!-- Asynchronous Google Analytics snippet. Change UA-XXXXX-X to be your site's ID.
       mathiasbynens.be/notes/async-analytics-snippet -->
    <script>
        var _gaq=[['_setAccount','UA-60605362-1'],['_trackPageview']];
        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
    </script>
{% endblock body %}
</body>
</html>
